.footer {
  font-size: 11px;
	line-height: 1.45455;
	font-weight: 400;
	letter-spacing: .005em;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
	background-color: #f2f2f2;
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
}

.footer .wapper {
	width: 1024px;
	margin: 20px  auto;

}

.footer .wapper ul {
	position: relative;
}

.footer .wapper .item li {
	width: 176px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

.footer .wapper a, .info a {
	color: #111;
}


.footer .wapper .item li a:hover, .underline:hover {
	text-decoration: underline;
}

.footer .wapper .item h3 {
	margin-left: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.footerh {
	margin-bottom: 20px;
}

.footer .connet {
	width: 1024px;
	margin: 0  auto;
}

.blue {
	color: #0070c9;
}

.footer .connet .phone {
	height: 20px;
}

.footer .connet .copy {
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}

.footer .connet .copy .info {
	position: relative;
	top: -12px;
	left: 240px;
	width: 300px;
}

hr {
	margin-bottom: 10px;
}

.footer .connet .copy .guoji {
	position: relative;
	top: -30px;
	left: 980px;
	width: 100px;
}

.footer .connet .copy .guoji span {
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
}

.footer .connet .copy li {
	display: inline-block;
}
