.page {

  display: flex;
  flex-direction: column;

  background-color: #b32580;
  height: 100%;

  .title {
    color: #1f1f1f;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
  }
  
  .listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 16px;
  
    &__btn {
      font-size: 0;
    }
  
    &__icon {
      width: 24px;
      height: 24px;
    }
  
    &__label {
      border: 1px solid #1f1f1f;
      padding: 2px 12px;
      border-radius: 12px;
    }
  }
  

  .taskList {
    position: relative;

    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;

    overflow-y: scroll;
  }

}

