
.header {
  display: flex;
  align-items: center;

  padding: 0 16px;
  padding-top: 16px;
  margin-bottom: 24px;
}

.menu {
  margin-left: auto;
}

.icon {
  width: 16px;
  height: 16px;
}

.avatar {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  aspect-ratio: 1;
  font-size: 0;

  &__img {
    display: inline-block;
    width: 36px;
    height: 36px;
  }
}
