.modalWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 4;

  background-color: #222222a1;

  .modalWrap-content {
    // background-color: #fff;
    height: 100%;

    // display: grid;
    // place-items: center;
    display: flex;
  }
  
}

